extends ../layout

block content 
    link(rel="stylesheet", href="/style.css")
    h1 Torneos 
        table
            thead 
                th Nombre torneo
            tbody 
                each tournament in tournaments 
                    tr
                        td= tournament.name
                        td 
                            form(action=`/tournaments/tournament/delete/${tournament.idtournament}`, method="post")
                                input(type="hidden", name="password", value="mi-contraseña")
                                input(type="submit", value="Eliminar")
        a(href="/tournaments/new")
            button Crear un torneo  
                    
