extend ../layout

block content
    h2 Crear un jugador
    if error
        p=error
    form(action="/players" method="POST")
        label(for="name") Nombre
        input(type="text" name="name" id="name")
        br
        label(for="last_name") Apellido
        input(type="text" name="last_name" id="last_name")
        br
        label(for="age") Edad
        input(type="number" name="age" id="age")
        br
        label(for="idteam") Equipo 
        if teams
            select(name="idteam" id="idteam")
                option(value="0") Sin Equipo
                each team in teams
                    option(value=team.idteam)=team.name  
        else
            input(type="number" name="idteam" id="idteam")
        br
        input(type="hidden", name ="password", value="mi-contraseña")
        input(type="submit", value="Crear")
    a(href="/players")
        button Volver 